spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/board?allowPublicKeyRetrieval=true&useSSL=false
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: always
      schema-locations: classpath:db/init_schema.sql
      data-locations:
        - classpath:db/member_test_data.sql
        - classpath:db/board_test_data.sql
        - classpath:db/board_like_test_data.sql
        - classpath:db/comment_test_data.sql
      encoding: UTF-8
springdoc:
  swagger-ui:
    enabled: true
  api-docs:
    enabled: true



