spring:
  profiles:
    active: local

jwt:
  secret: ${JWT_SECRET}
  expiration: 3600000 # AccessToken 1시간(단위 밀리초)
  refresh-expiration: 604800000 #Refresh Token 7일

springdoc:
  swagger-ui:
    path: /swagger-ui/index.html
    operations-sorter: method
    tags-sorter: alpha
    disable-swagger-default-url: true
    display-request-duration: true
  api-docs:
    path: /api-docs
